<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function displayDate() {
            document.getElementById("time").innerHTML=Date();
        }
    </script>
</head>
<body>
    <ul>
        <p id="time">这里将显示时间</p>
        <li><font color="red">Python网络爬虫</font></li>
        <li style="color:#ff40f2">Python云端系统开发</li>
        <li>Python全站开发</li>
    </ul>
    <button type="button" onclick="displayDate()">显示时间</button>
</body>
</html>